/* .admin-options{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.single-admin-option{
    margin: 10px;
    background-color: #999;
    padding: 20px 40px;
    
    border-radius: 8%;
}


.single-admin-option:hover{
    background-color: #666;
    cursor: pointer;
}
.single-admin-option h1{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.nav-bar{
   
    height: 4rem;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
  
}

.nav-link{
    padding: 10px;
}
.left-align{
    display: flex;
    align-items: center;
}
.right-align{
    display: flex;
    align-items: center;
} */

.single-query-box{
    height: 1%;
      border: 2px solid black;
    margin: 10px 20px;
    /* padding: 20px ; */
     border-radius: 10px;
    /* display: flex;  */
    /* justify-content: space-between; */
  padding: 20px;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .no{
    width: 5rem;
  }
  .name{
     width: 20rem;
  }
  
  
  .date{
    width: 15rem;
    
  }
  
  .role{
    width: 15rem;
  }
  .status{
    width: 15rem;
  }
  
  .action{
    width: 15rem;
  }
  
 
  