.event-component{
    max-height: fit-content;
    max-width: fit-content;
    padding: 5px;
}

.eventtitle{
    width: 70rem;
    margin-bottom: 10px;
    height: 50px;
}
p>i{
    font-size: larger;
}


.add-icon{
    width: 40px;
    /* background: black; */
    height: 40px;
    border-radius: 60%;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.6rem 0px;
}



.add-icon i{
    font-size: large;
}

.add-area{
    /* display: none; */
    padding: 10px;
    width: 95vw;
    margin: 20px;
    /* display: flex;
    text-align: center; */
    /* justify-content: end; */
    /* border: 2px solid black; */
    /* background-color: black; */
}

.add-area>p{
    padding: 20px;
    font-size: larger;
    font-weight: bold;
}

.add-area button{
    margin: 10px 20px;
    padding: 5px 35px;
    border-radius: 20px;
    background: linear-gradient(to right, #cca1d4, #faf9fb);
    /* background-color: rgb(51, 230, 111); */
}
.events{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.event-box{
    position: relative;
    width: 20rem;
    border: 2px solid black;
    margin: 20px 30px;
    border-radius: 10px;
    padding-bottom: 50px;
}

.event-img>img{
    border-radius: 8px;
    max-width: 100%;
    
}

.event-discription{
    margin: 20px;

}

.img-upload{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-upload>p{
    display: inline-block;
    margin-bottom: 0;
    min-width: 120px;
    margin-left: 20px;
}
.img-upload i{
    font-size: 30px;
}


.small-box-area{
    display: flex;
}

.small-box-area input{
    width: 400%;
    height: 200%;
}

.event-row{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

 .listofexp{
    margin-left: 5rem;
 }



  



