.houseBox{
    /* height: 56vh; */

    margin: 5vh 2vw;
    width: 27%;
    /* width: 50%; */
    min-width: 310px;
    box-sizing: border-box;
    /* z-index: 1; */
    box-shadow: 2px 2px 5px grey;
    overflow: hidden;
    background-color: white;
}


.houseBox-body{
    display: grid;
}
.houseBox-imgSection{
    position: relative;
    color: aliceblue;
    height: 200px;
  
}

.houseBox-top-tag-box{
    /* width: 100%; */
    /* background-color: #63a4ff; */
    background-image: linear-gradient(315deg, #d9e1ee 0%, #383a3a 74%);
    /* background-color: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%); */
    margin: 5px;
    margin-left: 20px;
    position:absolute;
    padding: 2px 10px;
    opacity: 0.5;
    background-color: #1a1a1a;
    top: 0;
    left: 0;
    z-index: 1;
}

.houseBox-imgSection img{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
    z-index: 0;
    cursor: pointer;
}

/* .houseBox-imgSection img:hover{
    transition: .5s all;
    transform: scale(1.1);
} */

.houseBox-imgsection-textArea{
    margin: 5px;
    margin-left: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.houseBox-imgsection-textArea p{
    padding: 5px 10px;
    /* background-color: darkslategray; */
    background-color: black;
    border-radius: 3px;
    /* opacity: .6; */
}



.houseBox-name{
    padding: 10px;
    /* font-size: large; */
    font-weight: 500;
    font-size: 19px;
    color: #1a1a1a;
}
.houseBox-address p{
    font-size: small;
}
.houseBox-address i{
    margin: 3px;
    color: blue;
}
.houseBox-areaMeasure{
    display: flex;
    justify-content: space-between;
    margin:15px 10px;
    /* font-size: 158x; */
}
.houseBox-areaMeasure p{
    /* font-weight: bold; */
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    color: #1a1a1a;
}
.houseBox-areaMeasure-icon i{
    color: #aaadb1;
    /* color: #1a1a1a; */
    margin-right: 10px;
}
.houseBox-bottomSection{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.houseBox-bottomSection-left p{
    margin-bottom: 5px;
    font-size: 13px;
}
.houseBox-bottomSection-left-price{
    font-size: 20px;
    color: green;
    font-weight: 600;
}
.houseBox-bottomSection-right{
    display: flex;
}
.houseBox-bottomSection-right i{
    margin: 8px;
    margin-top: 15px;
    font-size: 25px;
    color: #aaadb1;
    cursor: pointer;
}
.houseBox-bottomSection-right i:active{
    transform: all 3s;
    transform: scale(1.2,1.2);
}
.iLabel{
    position: absolute;
    background-color: rgb(242, 190, 190);
    width: fit-content;
    height: 25px;
    padding: 2px;
    opacity: 0;
    transition: opacity 150ms ease-in;
    pointer-events: none;
}
.iLabel-up-arrow{
    position: absolute;
    background-color: rgb(242, 190, 190);
    width: 10px;
    height: 17px;
    transform: rotate(45deg);
    top: -6px;
    left: 11px;
    /* border: 2px solid black; */
    border-bottom: none;
    border-right  : none;
    z-index: 0;
}
.iLabel-text{
    padding: 5px;
    font-size: 12px;
    text-align: center;
    z-index: 1;
}
.compare-icon-container:hover .iLabel{
    opacity: 1;
}
.compare-warning-msg{
    display: none;
    /* opacity: 0; */
    background-color: red;
    color: white;
}
.compare-warning-msg p{
    padding: 5px 25px ;
    margin: 0;
    text-align: center;
}
.compare-warning-msg.active{
    display: block;
}